body {
    background-color: yellow;
    
}
section{
    background-color: rgba(255, 0, 0, 0.877);
    text-align: center;
    font: normal 25pt arial ;
    color: rgba(255, 255, 0, 0.911);
    text-shadow: black;
    text-shadow:8px 8px 8px rgba(0, 0, 0, 0.507);
    border-radius: 30px;
    padding: 10px;
    width: 600px;
    margin: auto;
    box-shadow:8px 8px 8px rgba(0, 0, 0, 0.466);
    
}
header{
    text-shadow:8px 8px 8px rgba(0, 0, 0, 0.267);
    text-align: center;
    color: rgba(255, 0, 0, 0.856);
    font: normal 15pt arial;
}