@font-face {
    font-family: 'Gelio';
    src: url('Gelio\ Retsina.ttf') format('truetype'), url('Gelio\ Pasteli.ttf') format('truetype'), url('Gelio\ Kleftiko.ttf') format('truetype'), url('Gelio\ Greek\ Diner.ttf') format('truetype'), url('Gelio\ Fasolada.ttf') format('truetype');
}
:root{
    --cor0: #6D90A6;
    --cor2: #07668C;
    --cor1: #6d90a6c7;
    --cor3: #F2F2F2;
    --cor4: #033540e3;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
    font-family: sans-serif;
    background-image: url('Imagens/wallpaper005.jpg');
}
header{
    font-family:'Gelio';
    color: #e8eff8;
    text-shadow: 1px 1px 0px white;
    background-image: linear-gradient(to right,#f2f2f200,#03546659,#03354000 );
    border-radius: 0px 0px 10px 10px ;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.897) ;
    padding: 10px;
    height: 220px;
}
    
h1 {
    font-size: 5em;
    width: 100%;
    font-size: 150px;
    margin-top: 15px;
    color: #07668c8a;
    font-family: var(--font-destaque);
    font-weight: normal;
    text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.37);
    }
header > nav{
    background-image: linear-gradient(to right,#6d90a67c,#07668c6b,#03354073 );
    margin-top: 5px;
    width: 400px;
    padding: 8px;
    border-radius: 10px;
    text-shadow: 0px 0px 2px #F2F2F2;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.89);
}
#cabeçalho{
    font-size: 30px;
    color: #F2F2F2;
    text-decoration: none;
    padding: 5px;
}
#cabeçalho:hover{
    background-color: #076e977c;
    color: #0d194e;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.89);
    text-shadow: 1px 1px 0px #0d194e;
}
main{
    color: #26305f;
    text-shadow: 1px 1px 1px #26305f;
    background-image: linear-gradient(to right,#07668c93,#03354079 );
    height: 800px;
    padding: 10px;
    margin: 0px 40px 40px 40px ;
    border-radius: 10px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.89);

}

article{
    background-image: url('Imagens/wallpaper004.jpg');
    text-align: justify;
    text-indent: 30px;
    height: 350px;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.89);
}
#autor{
    text-align: right;
}
article > aside{

    padding: 5px;
    margin: 10px;

}
.links{
    color: whitesmoke;
    text-shadow: 1px 1px 1px #26305f;
    text-decoration: none;
    background-color: #0d194e;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.459);
}
.links:hover{
    text-decoration: underline;
   color: #076e97;
   background-color: rgba(255, 255, 255, 0);
}
footer{
    background-image: linear-gradient(to right,#6d90a694,#07668c85,#03354073 );
    color: white;
    text-align: center;
    padding: 1px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.925);
    text-shadow: 0px 1px 1px #F2F2F2;
}