@charset "UTF-8";
@font-face{
    font-family: 'Passion';
    src: url('GoogleFonts-PassionOne-Bold.ttf') format('opentype');
    font-weight: normal;
}
@font-face{
    font-family: 'Sriracha';
    src: url('GoogleFonts-Sriracha-Regular.ttf') format('opentype');
    font-weight: normal;
}

body{
    background-color: black;
    margin: 0px;
    min-height: 100%;
}
header{
    color: whitesmoke;
    background-color: black;
    text-align: center;
    padding: 20px;
}
h1{
    font-variant: small-caps;
    font-family: 'Passion';
    font-weight: bold;
    font-size: 10vw ;
    margin-bottom: 5px;
}
h2{
    font-family: 'Verdana';
    font-weight: lighter;
    font-size: 16px;
    margin-top: 2px;
}
/* 
 link autor do cordel
*/
h2 > #milton{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
#milton:hover{
    background-color: rgba(245, 245, 245, 0.932);
    border-radius: 5px;
    padding: 2px;
    color: black;
    transition-duration: 1.15s;
}
div{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
/* 
 imagem joaninha
*/
#m1{
    font-family: 'Sriracha';
    background: url('imagens/background001.jpg') center center no-repeat  fixed;
    background-size: cover;
    font-size: 3.5vw;
    margin-bottom: -50px;
}
/* 
 imagem livro
*/
#m2{
    font-family: 'Sriracha';
    font-size: 10vw;
    background: url('imagens/background002.jpg') center center no-repeat fixed;
    background-size: cover;
    margin-top: 0px;
    box-shadow:inset 6px 6px 13px 0px rgba(0, 0, 0, 0.534);
}
/* 
 conteúdo fundo branco
*/
.d1{
    line-height: 2em;
    font-size: 5vw;
    background-color: white;
    padding-left: 40px;
    }
/*
 conteúdo fundo imagem
*/
.d2{
    display: inline-block;
    padding: 5px;
    line-height:2em;
    font-size: 5vw;
    color: white;
    text-shadow: 1px 1px 0px black;
    background-color: rgba(0, 0, 0, 0.342);
    margin: 50px 10px 70px 40px;
    min-width: 300px;
    max-width: 800px ;
}
/*
 rodapé
*/
footer{
    text-align: center;
    color: white;
    font-family: 'Verdana';
    font-weight: lighter;
    font-size: 16px;
    background-color: black;
}
/*
 link GitHub
*/
#gcp{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
#gcp:hover{
    background-color: rgba(245, 245, 245, 0.932);
    border-radius: 5px;
    padding: 2px;
    color: black;
    transition-duration: 1.15s;
}